ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.activity__list {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

