ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

.activity__list {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 170px;
    background-color: rgba(190, 190, 190, 0.532);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

